.App {
  text-align: center;
}
body {
  background-color:rgb(44, 44, 218)
}

.card {
  margin-top: 60px;
  
}

.card-body {
  text-align: left;
}

.submit-button {
  margin-top:20px;
}

.Results{
  margin-top: 60px;
  background-color: #fff;
  border-radius: 10px;
}

.lista{
  list-style: none;
}